<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sprite 380 实例 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10001</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10002</key>
			<dict>
				<key>frame</key>
				<string>{{296,0},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10003</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10004</key>
			<dict>
				<key>frame</key>
				<string>{{592,0},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10005</key>
			<dict>
				<key>frame</key>
				<string>{{740,0},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10006</key>
			<dict>
				<key>frame</key>
				<string>{{0,203},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10007</key>
			<dict>
				<key>frame</key>
				<string>{{148,203},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10008</key>
			<dict>
				<key>frame</key>
				<string>{{296,203},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10009</key>
			<dict>
				<key>frame</key>
				<string>{{444,203},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10010</key>
			<dict>
				<key>frame</key>
				<string>{{592,203},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10011</key>
			<dict>
				<key>frame</key>
				<string>{{740,203},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10013</key>
			<dict>
				<key>frame</key>
				<string>{{148,406},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10014</key>
			<dict>
				<key>frame</key>
				<string>{{296,406},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10015</key>
			<dict>
				<key>frame</key>
				<string>{{444,406},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10016</key>
			<dict>
				<key>frame</key>
				<string>{{592,406},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10017</key>
			<dict>
				<key>frame</key>
				<string>{{740,406},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10018</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10019</key>
			<dict>
				<key>frame</key>
				<string>{{148,609},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
			<key>sprite 380 实例 10020</key>
			<dict>
				<key>frame</key>
				<string>{{296,609},{148,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,203}}</string>
				<key>sourceSize</key>
				<string>{148,203}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>female.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>female.png</string>
		</dict>
	</dict>
</plist>
