<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sprite 479 实例 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10001</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10002</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10003</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10004</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10005</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10006</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10007</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10009</key>
			<dict>
				<key>frame</key>
				<string>{{120,224},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10010</key>
			<dict>
				<key>frame</key>
				<string>{{240,224},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10011</key>
			<dict>
				<key>frame</key>
				<string>{{360,224},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10012</key>
			<dict>
				<key>frame</key>
				<string>{{480,224},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10013</key>
			<dict>
				<key>frame</key>
				<string>{{600,224},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10014</key>
			<dict>
				<key>frame</key>
				<string>{{720,224},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10015</key>
			<dict>
				<key>frame</key>
				<string>{{840,224},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,448},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10017</key>
			<dict>
				<key>frame</key>
				<string>{{120,448},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10018</key>
			<dict>
				<key>frame</key>
				<string>{{240,448},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10019</key>
			<dict>
				<key>frame</key>
				<string>{{360,448},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
			<key>sprite 479 实例 10020</key>
			<dict>
				<key>frame</key>
				<string>{{480,448},{120,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,224}}</string>
				<key>sourceSize</key>
				<string>{120,224}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>male.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>male.png</string>
		</dict>
	</dict>
</plist>
