<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Diamond</key>
	<dict>
		<key>icon</key>
		<string>diamond.png</string>
		<key>price</key>
		<integer>5000</integer>
		<key>sellable</key>
		<false/>
	</dict>
	<key>Money</key>
	<dict>
		<key>icon</key>
		<string>coins.png</string>
		<key>price</key>
		<integer>1</integer>
		<key>sellable</key>
		<false/>
	</dict>
	<key>Lemon</key>
	<dict>
		<key>icon</key>
		<string>lemon.png</string>
		<key>price</key>
		<integer>4</integer>
		<key>decay</key>
		<integer>5</integer>
		<key>space</key>
		<integer>1</integer>
		<key>taste</key>
		<dict>
			<key>sour</key>
			<real>0.3</real>
			<key>bitter</key>
			<real>0.2</real>
		</dict>
	</dict>
	<key>Cup</key>
	<dict>
		<key>icon</key>
		<string>cup.png</string>
		<key>price</key>
		<real>0.2</real>
		<key>decay</key>
		<integer>5</integer>
		<key>space</key>
		<integer>1</integer>
		<key>taste</key>
		<dict/>
	</dict>
	<key>Sugar</key>
	<dict>
		<key>icon</key>
		<string>sugar.png</string>
		<key>price</key>
		<string>0.5</string>
		<key>decay</key>
		<string>5</string>
		<key>space</key>
		<string>1</string>
		<key>taste</key>
		<dict>
			<key>sweet</key>
			<real>0.3</real>
			<key>sour</key>
			<real>-0.1</real>
			<key>bitter</key>
			<real>-0.1</real>
		</dict>
	</dict>
	<key>Lemonade</key>
	<dict>
		<key>icon</key>
		<string>lemonade.png</string>
		<key>price</key>
		<integer>10</integer>
		<key>decay</key>
		<integer>1</integer>
		<key>space</key>
		<integer>1</integer>
		<key>sellable</key>
		<false/>
		<key>recipe</key>
		<dict>
			<key>Lemon</key>
			<dict>
				<key>amount</key>
				<integer>1</integer>
				<key>min</key>
				<real>0.5</real>
				<key>max</key>
				<integer>5</integer>
				<key>tweakable</key>
				<true/>
				<key>step</key>
				<string>0.5</string>
			</dict>
			<key>Cup</key>
			<dict>
				<key>amount</key>
				<integer>1</integer>
				<key>tweakable</key>
				<false/>
			</dict>
			<key>Sugar</key>
			<dict>
				<key>amount</key>
				<integer>2</integer>
				<key>min</key>
				<integer>0</integer>
				<key>max</key>
				<integer>10</integer>
				<key>step</key>
				<string>1</string>
				<key>tweakable</key>
				<true/>
			</dict>
		</dict>
		<key>taste</key>
		<dict>
			<key>sweet</key>
			<real>0.6</real>
			<key>bitter</key>
			<real>0.2</real>
		</dict>
		<key>attrib</key>
		<dict>
			<key>production</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>Mixer 5000</key>
	<dict>
		<key>sellable</key>
		<false/>
		<key>icon</key>
		<string>mixer.png</string>
		<key>price</key>
		<string>1000</string>
		<key>modifier</key>
		<dict>
			<key>lemonade_production</key>
			<integer>60</integer>
		</dict>
		<key>locked</key>
		<string>1</string>
	</dict>
	<key>Fridge</key>
	<dict>
		<key>sellable</key>
		<false/>
		<key>icon</key>
		<string>fridge.png</string>
		<key>price</key>
		<string>1000</string>
		<key>modifier</key>
		<dict>
			<key>inventory_max</key>
			<integer>50</integer>
		</dict>
		<key>locked</key>
		<string>1</string>
	</dict>
</dict>
</plist>
