<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Neighbourhood</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>icon</key>
		<string>worlds/neighbourhood-icon.png</string>
		<key>image</key>
		<string>worlds/neighbourhood.png</string>
		<key>population</key>
		<string>1000</string>
		<key>money</key>
		<integer>10</integer>
		<key>price</key>
		<integer>0</integer>
		<key>demand</key>
		<dict>
			<key>base</key>
			<string>0.2</string>
		</dict>
		<key>people</key>
		<dict>
			<key>male</key>
			<real>0.3</real>
			<key>female</key>
			<real>0.3</real>
		</dict>
	</dict>
	<key>School</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>price</key>
		<integer>15</integer>
		<key>icon</key>
		<string>worlds/school-icon.png</string>
		<key>image</key>
		<string>worlds/school.png</string>
		<key>population</key>
		<string>1000</string>
		<key>money</key>
		<integer>10</integer>
		<key>demand</key>
		<dict>
			<key>Super Sweet Lemonade</key>
			<string>0.2</string>
		</dict>
		<key>people</key>
		<dict>
			<key>boy</key>
			<real>0.4</real>
			<key>girl</key>
			<real>0.4</real>
		</dict>
	</dict>
	<key>Park</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>price</key>
		<string>10</string>
		<key>icon</key>
		<string>worlds/park-icon.png</string>
		<key>image</key>
		<string>worlds/park.png</string>
		<key>population</key>
		<string>800</string>
		<key>money</key>
		<integer>20</integer>
		<key>people</key>
		<dict>
			<key>old-male</key>
			<real>0.3</real>
			<key>old-female</key>
			<real>0.4</real>
		</dict>
	</dict>
	<key>Station</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>price</key>
		<string>50</string>
		<key>icon</key>
		<string>worlds/station-icon.png</string>
		<key>image</key>
		<string>worlds/station.png</string>
		<key>population</key>
		<string>1200</string>
		<key>money</key>
		<string>40</string>
		<key>people</key>
		<dict>
			<key>male</key>
			<real>0.25</real>
			<key>female</key>
			<real>0.25</real>
			<key>boy</key>
			<real>0.2</real>
			<key>girl</key>
			<real>0.2</real>
		</dict>
	</dict>
	<key>Business Center</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>price</key>
		<integer>200</integer>
		<key>icon</key>
		<string>worlds/business-icon.png</string>
		<key>image</key>
		<string>worlds/business.png</string>
		<key>population</key>
		<string>2000</string>
		<key>money</key>
		<string>200</string>
		<key>people</key>
		<dict>
			<key>male</key>
			<real>0.4</real>
			<key>female</key>
			<real>0.4</real>
		</dict>
	</dict>
</dict>
</plist>
