<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sprite 328 实例 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10001</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10002</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10003</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10005</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10006</key>
			<dict>
				<key>frame</key>
				<string>{{107,0},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10007</key>
			<dict>
				<key>frame</key>
				<string>{{107,150},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10008</key>
			<dict>
				<key>frame</key>
				<string>{{107,300},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10009</key>
			<dict>
				<key>frame</key>
				<string>{{107,450},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10010</key>
			<dict>
				<key>frame</key>
				<string>{{107,600},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10011</key>
			<dict>
				<key>frame</key>
				<string>{{107,750},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10012</key>
			<dict>
				<key>frame</key>
				<string>{{214,0},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10013</key>
			<dict>
				<key>frame</key>
				<string>{{214,150},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10014</key>
			<dict>
				<key>frame</key>
				<string>{{214,300},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10015</key>
			<dict>
				<key>frame</key>
				<string>{{214,450},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
			<key>sprite 328 实例 10016</key>
			<dict>
				<key>frame</key>
				<string>{{214,600},{107,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,150}}</string>
				<key>sourceSize</key>
				<string>{107,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>girl.png</string>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>girl.png</string>
		</dict>
	</dict>
</plist>
