<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sprite 258 实例 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10001</key>
			<dict>
				<key>frame</key>
				<string>{{115,0},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10002</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10003</key>
			<dict>
				<key>frame</key>
				<string>{{345,0},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10004</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10005</key>
			<dict>
				<key>frame</key>
				<string>{{575,0},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10006</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10007</key>
			<dict>
				<key>frame</key>
				<string>{{805,0},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,192},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10009</key>
			<dict>
				<key>frame</key>
				<string>{{115,192},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10010</key>
			<dict>
				<key>frame</key>
				<string>{{230,192},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10011</key>
			<dict>
				<key>frame</key>
				<string>{{345,192},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10012</key>
			<dict>
				<key>frame</key>
				<string>{{460,192},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10013</key>
			<dict>
				<key>frame</key>
				<string>{{575,192},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10014</key>
			<dict>
				<key>frame</key>
				<string>{{690,192},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10015</key>
			<dict>
				<key>frame</key>
				<string>{{805,192},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10017</key>
			<dict>
				<key>frame</key>
				<string>{{115,384},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10018</key>
			<dict>
				<key>frame</key>
				<string>{{230,384},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10019</key>
			<dict>
				<key>frame</key>
				<string>{{345,384},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
			<key>sprite 258 实例 10020</key>
			<dict>
				<key>frame</key>
				<string>{{460,384},{115,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,192}}</string>
				<key>sourceSize</key>
				<string>{115,192}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>oldwoman.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>oldwoman.png</string>
		</dict>
	</dict>
</plist>
